@use "global" as *;

// sm size 375px
.nav__li_mdfy {
  // tb size 768px
  @include mq(md) {
    max-width: 9.375rem;
    width: 100%;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    box-shadow: 10px 5px 5px #333;
    background: #a9a9a9;
    padding: 0.625rem 1.25rem;
  }

  //   pc size 1440px
  @include mq(xl) {
    background: #ff4500;
  }
}

// boxの右端の線を引く為の指定
// sm size 375px
.nav__li_mdfy:last-child {
  // tb size 768px
  @include mq(md) {
    border-right: 1px solid #333;
  }

  //   pc size 1440px
  @include mq(xl) {
  }
}
